/* Colors */
$paragraph-color: #7c7c7c;
$main-color: #ffa708;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;


$fonts: "Open Sans", sans-serif;
